:root {
  --main-color: #434455;
  --secondary-color: #2e2f42;
  --background-color: #e5e5e5;
  --secondary-bg-color: #4d5ae5;
  --hero-color-text: #ffffff;
}
body {
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
}
.link {
  text-decoration-line: none;
}
.accent {
  color: var(--secondary-bg-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* header */
.navigation .link {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.logo {
  color: var(--secondary-color);
  text-decoration-line: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.contacts .link {
  color: var(--main-color);
}
/* hero */
.hero {
  background-color: var(--secondary-color);
}
.hero .title {
  color: var(--hero-color-text);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}
.hero-btn {
  color: var(--hero-color-text);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.advantages .title,
.team .subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--secondary-color);
}
.works .title,
.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}
/* footer */
.footer {
  background-color: var(--secondary-color);
}
.footer .logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer .accent {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-bg-color);
}
.footer .text {
  color: #e7e9fc;
}
